@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400; /* Regular */
    src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700; /* Bold */
    src: url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400; /* Regular */
    src: url('/fonts/nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700; /* Bold */
    src: url('/fonts/nunito/Nunito-Bold.ttf') format('truetype');
}
